attributes:

  node_name:
    value: 'influxdb'
    label: 'Node name'
    description: 'The name of the node where the plugin will be deployed'
    weight: 10
    type: "text"
    regex:
      source: '\S'
      error: "You must provide a name"

  influxdb_rootpass:
    value: ''
    label: 'Root password'
    description: 'The password of the InfluxDB root user'
    weight: 30
    type: "password"
    regex:
      source: '^[\S]{4,}$'
      error: "You must provide a password with at least 4 characters"

  influxdb_dbname:
    value: 'lma'
    label: 'Database name'
    description: 'The name of the database used to store the metrics'
    weight: 40
    type: "text"
    regex:
      source: '\S'
      error: "You must provide a name"

  influxdb_username:
    value: 'lma'
    label: 'User name'
    description: 'The name of the InfluxDB user'
    weight: 50
    type: "text"
    regex:
      source: '\S'
      error: "You must provide a username"

  influxdb_userpass:
    value: ''
    label: 'User password'
    description: 'The password of the InfluxDB user'
    weight: 60
    type: "password"
    regex:
      source: '^[\S]{4,}$'
      error: "You must provide a password with at least 4 characters"

  data_dir:
    value: '/influx-db'
    label: 'InfluxDB storage directory'
    description: 'Directory used by InfluxDB to store data'
    weight: 70
    type: "text"

  disk1:
    value: ''
    label: 'Disk 1'
    description: 'Disk device used to store InfluxDB data (for instance sda or sdb or another device). Leave it empty to use "/"'
    weight: 80
    type: "text"

  disk1_size:
    value: ''
    label: 'Size'
    description: 'in GB. Leave it empty to use all free space.'
    weight: 90
    type: "text"

  disk2:
    value: ''
    label: 'Disk 2'
    description: 'Disk device used to store InfluxDB data (for instance sdb).'
    weight: 100
    type: "text"
    restrictions:
        - condition: "settings:influxdb_grafana.disk1.value == ''"
          action: "disable"

  disk2_size:
    value: ''
    label: 'Size'
    description: 'in GB. Leave it empty to use all free space.'
    weight: 110
    type: "text"
    restrictions:
        - condition: "settings:influxdb_grafana.disk1.value == ''"
          action: "disable"

  disk3:
    value: ''
    label: 'Disk 3'
    description: 'Disk device used to store InfluxDB data (for instance sdc).'
    weight: 120
    type: "text"
    restrictions:
        - condition: "settings:influxdb_grafana.disk2.value == ''"
          action: "disable"

  disk3_size:
    value: ''
    label: 'Size'
    description: 'in GB. Leave it empty to use all free space.'
    weight: 130
    type: "text"
    restrictions:
        - condition: "settings:influxdb_grafana.disk2.value == ''"
          action: "disable"

