attributes:

  retention_period:
    value: '30'
    label: 'Retention period'
    description: 'The number of days after which data is automatically deleted within the InfluxDB system (0 to never delete data).'
    weight: 5
    type: "text"
    regex: &number_validation
        source: '^\d+$'
        error: "You must provide a number"

  replication_factor:
    value: '3'
    label: 'Replication factor'
    description: 'The number of replicas'
    weight: 6
    type: "text"
    regex: *number_validation
    # Don't expose the replication factor while clustering is alpha
    restrictions:
      - condition: "true"
        action: hide

  influxdb_rootpass:
    value: ''
    label: 'Root password'
    description: 'The password of the InfluxDB root user'
    weight: 30
    type: "password"
    regex:
      source: '^[\S]{4,}$'
      error: "You must provide a password with at least 4 characters"

  influxdb_dbname:
    value: 'lma'
    label: 'Database name'
    description: 'The name of the database used to store the metrics'
    weight: 40
    type: "text"
    regex:
      source: '\S'
      error: "You must provide a name"

  influxdb_username:
    value: 'lma'
    label: 'User name'
    description: 'The name of the InfluxDB user'
    weight: 50
    type: "text"
    regex:
      source: '\S'
      error: "You must provide a username"

  influxdb_userpass:
    value: ''
    label: 'User password'
    description: 'The password of the InfluxDB user'
    weight: 60
    type: "password"
    regex:
      source: '^[\S]{4,}$'
      error: "You must provide a password with at least 4 characters"

  grafana_username:
    value: 'lma'
    label: 'User name'
    description: 'The name of the Grafana admin user'
    weight: 63
    type: "text"
    regex:
      source: '\S'
      error: "You must provide a username"

  grafana_userpass:
    value: ''
    label: 'User password'
    description: 'The password of the Grafana admin user'
    weight: 66
    type: "password"
    regex:
      source: '^[\S]{4,}$'
      error: "You must provide a password with at least 4 characters"

  # Parameter hidden in the UI on purpose
  # this directory must match the mount point set in volumes.yaml
  data_dir:
    value: '/var/lib/influxdb'
    label: 'InfluxDB storage directory'
    description: 'Directory used by InfluxDB to store data'
    weight: 70
    type: "text"
    restrictions:
      - condition: "true"
        action: hide
