attributes:

  retention_period:
    value: '30'
    label: 'Retention period'
    description: 'The number of days after which data is automatically deleted within the InfluxDB system (0 to never delete data).'
    weight: 5
    type: "text"
    regex: &number_validation
        source: '^\d+$'
        error: "You must provide a number"

  replication_factor:
    value: '1'
    label: 'Replication factor'
    description: 'The number of replicas'
    weight: 6
    type: "text"
    regex: *number_validation
    # Don't expose the replication factor until clustering is supported
    restrictions:
      - condition: "true"
        action: hide

  influxdb_rootpass:
    value: ''
    label: 'Root password'
    description: 'The password of the InfluxDB root user'
    weight: 30
    type: "password"
    regex:
      source: '^[\S]{4,}$'
      error: "You must provide a password with at least 4 characters"

  influxdb_mysql_name:
    value: 'lma'
    label: 'Database name'
    description: 'The name of the database used to store the metrics'
    weight: 40
    type: "text"
    regex:
      source: '\S'
      error: "You must provide a name"

  influxdb_username:
    value: 'lma'
    label: 'User name'
    description: 'The name of the InfluxDB user'
    weight: 50
    type: "text"
    regex:
      source: '\S'
      error: "You must provide a username"

  influxdb_userpass:
    value: ''
    label: 'User password'
    description: 'The password of the InfluxDB user'
    weight: 60
    type: "password"
    regex:
      source: '^[\S]{4,}$'
      error: "You must provide a password with at least 4 characters"

  grafana_username:
    value: 'lma'
    label: 'User name'
    description: 'The name of the Grafana admin user'
    weight: 80
    type: "text"
    regex:
      source: '\S'
      error: "You must provide a username"

  grafana_userpass:
    value: ''
    label: 'User password'
    description: 'The password of the Grafana admin user'
    weight: 90
    type: "password"
    regex:
      source: '^[\S]{4,}$'
      error: "You must provide a password with at least 4 characters"

  mysql_mode:
    type: "radio"
    value: 'local'
    weight: 70
    label: 'MySQL settings'
    values:
      - data: "local"
        label: "Local MySQL"
      - data: "remote"
        label: "Remote server"

  mysql_host:
    value: ''
    label: 'MySQL address and port'
    description: 'IP address or fully qualified domain name of the MySQL server and port (optional, default:3306)'
    weight: 72
    type: "text"
    restrictions:
      - condition: "settings:influxdb_grafana.mysql_mode.value != 'remote'"
        action: "disable"
    regex:
      source: '^[a-zA-Z\d][a-zA-Z\d_\-.]+(:[0-9]+)?$'
      error: "You must provide a hostname or IP"

  mysql_db:
    value: 'grafana'
    label: 'Name of the DB'
    description: 'The name of the DB. The DB and the user must be created beforehand.'
    weight: 74
    type: 'text'

  mysql_user:
    value: 'grafana'
    label: 'Username of grafana DB'
    description: ''
    weight: 76
    type: 'text'

  mysql_password:
    value: ''
    label: 'Password of grafana DB'
    description: ''
    weight: 78
    type: 'password'

  # Parameter hidden in the UI on purpose
  # this directory must match the mount point set in volumes.yaml
  data_dir:
    value: '/var/lib/influxdb'
    label: 'InfluxDB storage directory'
    description: 'Directory used by InfluxDB to store data'
    weight: 100
    type: "text"
    restrictions:
      - condition: "true"
        action: hide
